# Python bytecode & caches
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
dist/
build/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock